<p>First Name: <%= @pizza.first_name%></p>
<p>Last Name: <%= @pizza.last_name %></p>
<p>Quantity: <%= @pizza.quantity %></p>
<p>Topping: <%= @pizza.topping %> </p>

<a href="/pizzas/<%=@pizza.id%>/edit">Changed your mind?</a>


<form  action="/pizzas/<%=@pizza.id%>/delete" method="post">
  <input type="submit" value="Delete" />
</form>
